body {
    background-color: #fff;
}
img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.container {
    width: 1250px;
    margin: 0 auto;
    padding: 30px 0;
}

/* header */
.header {
    padding: 90px 0;
}
.h2-title {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}
.header .content {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
/* main */
.illustrate {
    width: 100%;
    display: flex;
    margin-bottom: 32px;
}
.illustrate:nth-child(even) {
    flex-direction: row-reverse;
}
.illustrate .description {
    width: 50%;
}
.description .h3-title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.description .tilde {
    width: 48px;
    margin-bottom: 20px;
}
.description p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.feature-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.feature-group .feature {
    width: 50%;
    display: flex;
    padding: 4px 0;
}

.feature .feature-description {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
.feature .icon-check {
    vertical-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-color: #ddebff;
    position: relative;
}
.feature .icon-check::before, .feature .icon-check::after {
    content: "";
    display: inline-block;
    background-color: #266dff;
    position: absolute;
}
.feature .icon-check::before {
    height: 2px;
    width: 8px;
    transform: rotate(45deg);
    top: 13px;
    left: 4px;
}
.feature .icon-check::after {
    height: 2px;
    width: 13px;
    transform: rotate(135deg);
    top: 11px;
    left: 8px;
}

.description a {
    text-decoration: none;
}
.description .check-all {
    display: flex;
    align-items: center;
    width: 200px;
    color: #0061ff;
}

.icon-arrow {
    margin-left: 8px;
    display: inline-block;
    width: 16px;
    height: 1.5px;
    background-color: #0061ff;
    position: relative;
    transition: width .5s ease;
}
.icon-arrow::before, .icon-arrow::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 1.5px;
    background-color: #0061ff;
    position: absolute;
}
.icon-arrow::before {
    transform: rotate(45deg);
    top: -3px;
    right: -2px;
}
.icon-arrow::after {
    transform: rotate(135deg);
    top: 3px;
    right: -2px;
}

.check-all:hover > .icon-arrow {
    width: 32px;
}

.illustrate .picture {
    width: 50%;
}

/* More */
.more {
    width: 100%;
    background-color: #f4f5f7;
    padding: 100px 0;
}
.service-list {
    display: flex;
    flex-wrap: wrap;
}
.service {
    width: 300px;
    margin: 20px 58px;
    text-align: center;
}
.service-pic {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 0 50px #ccc;
}
.service-pic img {
    width: 72px;
    height: auto;
    margin: auto;
}
.service .h3-title {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}
.service p {
    font-size: 16px;
    line-height: 1.8;
    text-align: left;
}